.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 2rem;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #e5e7eb;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #111827;
}

.nav {
  display: flex;
  align-items: center;
  gap: 12px;
}
